## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Rikitea,PF,-23.1203,-134.9692,76.26,77,96,12.71,moderate rain
1,1,Isangel,VU,-19.5500,169.2667,77.72,87,100,15.19,moderate rain
2,2,Hobart,AU,-42.8794,147.3294,45.27,86,75,10.36,broken clouds
3,3,Barrow,US,71.2906,-156.7887,26.62,93,100,21.85,overcast clouds
4,4,Clyde River,CA,70.4692,-68.5914,23.23,100,75,14.97,mist

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Rikitea,PF,-23.1203,-134.9692,76.26,77,96,12.71,moderate rain
1,1,Isangel,VU,-19.5500,169.2667,77.72,87,100,15.19,moderate rain
8,8,Georgetown,MY,5.4112,100.3354,82.33,88,20,2.30,few clouds
11,11,Nicoya,CR,10.1483,-85.4520,81.19,74,87,2.17,overcast clouds
14,14,Tomatlan,MX,19.9333,-105.2500,86.68,38,23,12.64,few clouds
17,17,Rantoul,US,40.3084,-88.1559,81.34,49,0,18.41,clear sky
22,22,Nago,JP,26.5881,127.9761,75.63,94,100,16.37,light rain
23,23,Puerto Madero,MX,14.7208,-92.4215,84.94,67,96,6.49,overcast clouds
27,27,Kapaa,US,22.0752,-159.3190,80.58,92,100,16.11,light rain
28,28,Abu Dhabi,AE,24.4667,54.3667,85.96,62,0,4.61,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             282
City                   282
Country                282
Lat                    282
Lng                    282
Max Temp               282
Humidity               282
Cloudiness             282
Wind Speed             282
Weather Description    282
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

Unnamed: 0             282
City                   282
Country                282
Lat                    282
Lng                    282
Max Temp               282
Humidity               282
Cloudiness             282
Wind Speed             282
Weather Description    282
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Rikitea,PF,76.26,moderate rain,-23.1203,-134.9692,
1,Isangel,VU,77.72,moderate rain,-19.5500,169.2667,
8,Georgetown,MY,82.33,few clouds,5.4112,100.3354,
11,Nicoya,CR,81.19,overcast clouds,10.1483,-85.4520,
14,Tomatlan,MX,86.68,few clouds,19.9333,-105.2500,
17,Rantoul,US,81.34,clear sky,40.3084,-88.1559,
22,Nago,JP,75.63,light rain,26.5881,127.9761,
23,Puerto Madero,MX,84.94,overcast clouds,14.7208,-92.4215,
27,Kapaa,US,80.58,light rain,22.0752,-159.3190,
28,Abu Dhabi,AE,85.96,clear sky,24.4667,54.3667,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

    
print("Hotel processing done...")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# hotel_df.head()

hotel_df.count()

City                   282
Country                282
Max Temp               282
Weather Description    282
Lat                    282
Lng                    282
Hotel Name             282
dtype: int64

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Rikitea,PF,76.26,moderate rain,-23.1203,-134.9692,People ThankYou
1,Isangel,VU,77.72,moderate rain,-19.5500,169.2667,Tanna Lodge
8,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
11,Nicoya,CR,81.19,overcast clouds,10.1483,-85.4520,Las Cabinas Del Sueño
14,Tomatlan,MX,86.68,few clouds,19.9333,-105.2500,El Salvial

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
hotel_info[0]

'\n<dl>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Weather Description</dt><dd>moderate rain</dd>\n</dl>\n'

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))